<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end" (click)="voltar()">
      <ion-button>
        voltar
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">Finalizar Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Checkout</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="enderecoUsuario">
    <ion-card-header>
      <ion-card-title class="titulo">Endereço de Entrega</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2><strong>CEP:</strong> {{ enderecoUsuario.CEP }}</h2>
      <h2><strong>Rua:</strong> {{ enderecoUsuario.Rua }}</h2>
      <h2><strong>Cidade:</strong> {{ enderecoUsuario.Cidade }}</h2>
      <h2><strong>Estado:</strong> {{ enderecoUsuario.Estado }}</h2>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!enderecoUsuario">
    <ion-card-header>
      <ion-card-title>Nenhum endereço cadastrado</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Por favor, cadastre um endereço para prosseguir.</p>
      <ion-button expand="full" (click)="cadastrarend()">Cadastrar Endereço</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    
    <ion-card-title class="titulo">Seleciona o Tipo de Entrega</ion-card-title>

  </ion-card>

  <ion-card>
    <ion-card-title class="titulo">Forma de Pagamento</ion-card-title>
    <h2><ion-checkbox> PIX</ion-checkbox></h2>
    <h2><ion-checkbox> Cartão de Crédito</ion-checkbox></h2>
  </ion-card>


</ion-content>