<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end" (click)="voltar()">
      <ion-button>
        voltar
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">Finalizar Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Checkout</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="enderecoUsuario">
    <ion-card-header>
      <ion-card-title>
        <ion-icon size="large" name="home-outline" class="icone"></ion-icon>
        Endereço de Entrega
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2><strong>CEP:</strong> {{ enderecoUsuario.CEP }}</h2>
      <h2><strong>Rua:</strong> {{ enderecoUsuario.Rua }}</h2>
      <h2><strong>Cidade:</strong> {{ enderecoUsuario.Cidade }}</h2>
      <h2><strong>Estado:</strong> {{ enderecoUsuario.Estado }}</h2>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!enderecoUsuario">
    <ion-card-header>
      <ion-card-title>Nenhum endereço cadastrado</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Por favor, cadastre um endereço para prosseguir.</p>
      <ion-button expand="full" (click)="cadastrarend()">Cadastrar Endereço</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <img src="assets/icon/icontruck.png" alt="Icone de Caminhão" class="icontruck" />
        Selecione o Tipo de Entrega
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-radio-group value="entregaRapida">
          <ion-item>
            <ion-label>
              Entrega Rápida
              <p>Receba seu pedido em 5 dias úteis.</p>
            </ion-label>
            <ion-radio slot="start" value="entregaRapida"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>
              Entrega Padrão
              <p>Receba seu pedido em 15 dias úteis.</p>
            </ion-label>
            <ion-radio slot="start" value="entregaPadrao"></ion-radio>
            <span class="badge">Grátis</span>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon size="large" name="card-outline" class="icone"></ion-icon>
        Forma de Pagamento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-radio-group>
          <ion-item>
            <ion-label>
              Cartão de Crédito
            </ion-label>
            <ion-radio slot="start" value="cartaodecredito"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>
              PIX
            </ion-label>
            <ion-radio slot="start" value="pix"></ion-radio>
            <span class="badge">Aprovação em Segundos</span>
          </ion-item>
          <p>
            Após a finalização do pedido, abra o app ou banco de sua preferência.<br>
            Escolha a opção pagar com código Pix “copia e cola”, ou código QR.<br>
            Copie e cole o código, ou escaneie o código Qr com a câmera do seu celular.<br>
            Confira todas as informações e autorize o pagamento.<br>
          </p>
        </ion-radio-group>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-label>Valor</ion-label>
    <ion-select>
      
    </ion-select>
  </ion-item>

</ion-footer>