<ion-header>
  <ion-toolbar>
    <ion-title>Minha Conta</ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-header [translucent]="true"></ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title class="titulo">Minha Conta</ion-title>
  </ion-toolbar>
<ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Informações da Conta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Nome:</strong> {{ userInfo.name }}</p>
      <p><strong>Email:</strong> {{ userInfo.email }}</p>
      <p><strong>Telefone:</strong> {{ userInfo.phone }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Cadastro de Endereço</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Rua</ion-label>
          <ion-input formControlName="street"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Cidade</ion-label>
          <ion-input formControlName="city"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Estado</ion-label>
          <ion-input formControlName="state"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">CEP</ion-label>
          <ion-input formControlName="zip"></ion-input>
        </ion-item>

        <ion-button expand="full" type="submit">Cadastrar Endereço</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
