<ion-header [translucent]="true"></ion-header>
<ion-toolbar>
  <ion-menu-button slot="start"></ion-menu-button>
  <ion-title class="titulo">Minha Conta</ion-title>
</ion-toolbar>
<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Informações da Conta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>CPF:</strong> {{ infoUsuario.cpf }}</p>
      <p><strong>Nome:</strong> {{ infoUsuario.nome }}</p>
      <p><strong>Email:</strong> {{ infoUsuario.email }}</p>
      <p><strong>Telefone:</strong> {{ infoUsuario.telefone }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Cadastro de Endereço</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">

        <ion-input type="adress" label="Rua" label-placement="floating" fill="outline" placeholder="Rua nova"
          formControlName="Rua" required>
        </ion-input>
        <div
          *ngIf="addressForm.get('Rua')?.errors?.['required'] && (addressForm.get('Rua')?.touched || addressForm.get('Rua')?.dirty)">
          <small>Rua é obrigatória.</small>
        </div>

        <ion-input type="adress" label="Cidade" label-placement="floating" fill="outline" placeholder="Sua Cidade"
          formControlName="Cidade" required>
        </ion-input>
        <div
          *ngIf="addressForm.get('Cidade')?.errors?.['required'] && (addressForm.get('Cidade')?.touched || addressForm.get('Cidade')?.dirty)">
          <small>Cidade é obrigatória.</small>
        </div>
        <div
          *ngIf="addressForm.get('Cidade')?.errors?.['minlength'] && (addressForm.get('Cidade')?.touched || addressForm.get('Cidade')?.dirty)">
          <small>A Cidade deve ter pelo menos 3 caracteres.</small>
        </div>

        <ion-input type="adress" label="Estado" label-placement="floating" fill="outline" placeholder="Seu Estado"
          formControlName="Estado" required>
        </ion-input>
        <div
          *ngIf="addressForm.get('Estado')?.errors?.['required'] && (addressForm.get('Estado')?.touched || addressForm.get('Estado')?.dirty)">
          <small>Estado é obrigatório.</small>
        </div>

        <ion-input type="adress" label="CEP" label-placement="floating" fill="outline" placeholder="Digite seu CEP"
          formControlName="CEP" required>
        </ion-input>
        <div
          *ngIf="addressForm.get('CEP')?.errors?.['required'] && (addressForm.get('CEP')?.touched || addressForm.get('CEP')?.dirty)">
          <small>CEP é obrigatório.</small>
        </div>
        <div
          *ngIf="addressForm.get('CEP')?.errors?.['pattern'] && (addressForm.get('CEP')?.touched || addressForm.get('CEP')?.dirty)">
          <small>Formato de CEP inválido. (Ex: 12345-678)</small>
        </div>

        <ion-button expand="full" type="submit" [disabled]="addressForm.invalid">Cadastrar Endereço</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-button expand="full" color="danger" (click)="sairConta()">Sair da conta</ion-button>
  </ion-card>
</ion-content>