<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end" (click)="navegarPaginaCarrinho()">
      <ion-button >
        <ion-icon size="large" name="cart" slot="end" color="dark" class="shopping-cart-button" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title class="titulo">Catalogo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar show-clear-button="always" placeholder="Busque aqui"></ion-searchbar>
  <ion-card>
    <ion-item *ngFor="let item of tenis">
      <ion-thumbnail slot="start">
        <img [src]="item.imageUrl" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.name }}</h2>
        <h2 class="Linha">{{item.valor | currency: 'BRL'}}</h2>
      </ion-label>
      <ion-button fill="clear" class="comprar" (click)="chamarModal(item)">comprar</ion-button>
    </ion-item>
  </ion-card>
</ion-content>


