ion-input {
  margin-bottom: 15px; /* Ajuste o valor conforme necessário */
  padding-left: 0; /* Remove o padding esquerdo para alinhar à esquerda */
  text-align: left; /* Garante que o texto comece alinhado à esquerda */
}
.payment-container {
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  margin: auto;
  margin-top: 20vh;
  background-color: #ffffff; /* Fundo branco para o container */
}
