<ion-header [translucent]="true"></ion-header>
<ion-toolbar>
  <ion-menu-button slot="start"></ion-menu-button>
  <ion-title class="titulo">Pagamento</ion-title>
</ion-toolbar>

<ion-content padding>
  <form (ngSubmit)="onSubmit(paymentForm)" #paymentForm="ngForm">
    <ion-item>
      <ion-label position="floating">Nome no Cartão</ion-label>
      <ion-input type="text" name="cardName" ngModel required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Número do Cartão</ion-label>
      <ion-input type="text" name="cardNumber" ngModel required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Data de Validade</ion-label>
      <ion-input type="text" name="expiryDate" ngModel placeholder="MM/AA" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">CVV</ion-label>
      <ion-input type="text" name="cvv" ngModel required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!paymentForm.valid">Salvar</ion-button>
  </form>

  <ion-card *ngIf="savedCard">
    <ion-card-header>
      <ion-card-title>Dados do Cartão Salvo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Nome no Cartão:</strong> {{ savedCard.cardName }}</p>
      <p><strong>Número do Cartão:</strong> **** **** **** {{ savedCard.cardNumber }}</p>
      <p><strong>Data de Validade:</strong> {{ savedCard.expiryDate }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
