<ion-content  [fullscreen]="true">
  <div class="login-container">
    <h2>Login</h2>

    <ion-item lines="none">
      <ion-input type="email" label-placement="floating" label="EMAIL" ngModel required></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input type="password" label-placement="floating" label="SENHA" ngModel required>
      </ion-input>
    </ion-item>
    <ion-button expand="block">Entrar</ion-button>

    <p>Não tem uma conta? <a (click)="navigateToNovaPagina()"> Crie uma aqui</a></p>
  </div>
</ion-content>