<ion-header [translucent]="true">
  <ion-toolbar class="corpadrao">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-buttons slot="end" (click)="voltar()">
      <ion-button aria-label="Voltar">
        voltar
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">Finalizar Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Checkout</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="enderecoUsuario">
    <ion-card-header>
      <ion-card-title>
        <ion-icon size="large" name="home-outline" class="icone"></ion-icon>
        Endereço de Entrega
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2><strong>CEP:</strong> {{ enderecoUsuario.CEP }}</h2>
      <h2><strong>Rua:</strong> {{ enderecoUsuario.Rua }}</h2>
      <h2><strong>Cidade:</strong> {{ enderecoUsuario.Cidade }}</h2>
      <h2><strong>Estado:</strong> {{ enderecoUsuario.Estado }}</h2>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!enderecoUsuario">
    <ion-card-header>
      <ion-card-title>Nenhum endereço cadastrado</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Por favor, cadastre um endereço para prosseguir.</p>
      <ion-button expand="full" (click)="cadastrarend()">Cadastrar Endereço</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <img src="assets/icon/icontruck.png" alt="Ícone de Caminhão" class="icontruck" />
        Selecione o Tipo de Entrega
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-radio-group (ionChange)="onTipoEntregaChange($event)" value="entregaPadrao">
          <ion-item>
            <ion-label>
              Entrega Rápida
              <p>Receba seu pedido em 5 dias úteis.</p>
            </ion-label>
            <ion-radio slot="start" value="entregaRapida"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>
              Entrega Padrão
              <p>Receba seu pedido em 15 dias úteis.</p>
            </ion-label>
            <ion-radio slot="start" value="entregaPadrao"></ion-radio>
            <span class="badge">Grátis</span>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <p *ngIf="taxaEntrega > 0">Taxa de entrega: {{ taxaEntrega | currency: 'BRL' }}</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon size="large" name="card-outline" class="icone"></ion-icon>
        Forma de Pagamento
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-radio-group>
          <ion-item>
            <ion-label>
              Cartão de Crédito
            </ion-label>
            <ion-radio slot="start" value="cartaodecredito" (click)="chamarmodalcredito()"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>
              PIX
            </ion-label>
            <ion-radio slot="start" value="pix"></ion-radio>
            <span class="badge">Aprovação em Segundos</span>
          </ion-item>
          <p>
            Após a finalização do pedido, abra o app ou banco de sua preferência.<br />
            Escolha a opção pagar com código Pix “copia e cola”, ou código QR.<br />
            Copie e cole o código, ou escaneie o código QR com a câmera do seu celular.<br />
            Confira todas as informações e autorize o pagamento.<br />
          </p>
        </ion-radio-group>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-card>
    <ion-item (click)="toggleTaxaEntrega()" style="cursor: pointer;">
      <ion-label> Valor Total
        <ion-icon name="chevron-down-outline">
        </ion-icon>
      </ion-label>
      <ion-label slot="end">{{ totalCarrinho | currency: 'BRL' }}</ion-label>
    </ion-item>
    <ion-item *ngIf="mostrarTaxa">
      <ion-label>Taxa de Entrega</ion-label>
      <ion-label slot="end">{{ taxaEntrega | currency: 'BRL' }}</ion-label>
    </ion-item>
  </ion-card>
</ion-footer>