ion-card {
    margin: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.quantidade-input {
    font-weight: bold
}
ion-button {
    border-radius: 8px;
}
ion-card-title {
    font-size: 20px;
    font-weight: bold;
}
ion-card-subtitle {
    font-size: 21px;
}
.custom-image {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

.tamanho-segment-button {
    min-width: 10px;
    height: 40px;
    font-size: 16px;
    border-radius: 8px;
    margin: 0 5px;
}
.tamanho-segment-button.ion-selected {
    background-color: #3880ff;
    color: white;
}
.tamanho-segment-button:hover {
    background-color: #3171e0;
    color: white;
}
.tamanho-title{
    text-align: center; /* Centraliza o texto */
    margin: 20px 0; /* Margem para dar espaço acima e abaixo do título */
    font-weight: bold
}