<ion-header>
  <ion-toolbar>
    <ion-title>{{ item.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fecharModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="item.imageUrl" />
  </ion-card>
  <ion-card-header>
    <p>{{ item.valor }}</p>
    <p>{{ item.description }}</p>
  </ion-card-header>
  <div class="tamanhos">
    <button class="tamanho-btn">36</button>
    <button class="tamanho-btn">37</button>
    <button class="tamanho-btn">38</button>
    <button class="tamanho-btn">39</button>
    <button class="tamanho-btn">40</button>
    <button class="tamanho-btn">41</button>
    <button class="tamanho-btn">42</button>
  </div>
</ion-content>
<footer>
  <ion-button expand="block" clas="botaoComprar">comprar</ion-button>
</footer>