<ion-header>
  <ion-toolbar>
    <ion-title>{{ item.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fecharModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="item.imageUrl" />
  </ion-card>
  <ion-card-header>
    <p>{{ item.valor | currency: 'BRL' }}</p> <!-- Exibindo o valor como moeda -->
    <p>{{ item.description }}</p>
  </ion-card-header>

  <div class="tamanhos">
    <button class="tamanho-btn" *ngFor="let tamanho of tamanhos" (click)="selecionarTamanho(tamanho)">
      {{ tamanho }}
    </button>
  </div>

  <ion-item>
    <ion-label>Quantidade: </ion-label>
    <ion-input [(ngModel)]="quantity" type="number" min="1" step="1"></ion-input>
  </ion-item>
</ion-content>

<footer>
  <ion-button expand="block" (click)="adicionarAoCarrinho()">Comprar</ion-button>
</footer>
