ion-card {
    margin: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

ion-segment-button {
    font-size: 16px;
    border-radius: 2px;
    padding: 2px 2px;
    font-size: 10 rem;
    border: 1px solid #000000;
    border-radius: 100px;
    width: 5px; /* Aumenta a largura ao ativar */
    height: 5px;
}

.quantidade-input {
    font-weight: bold;
    /* Número em negrito */
}

ion-button {
    border-radius: 8px;
}

ion-card-title {
    font-size: 25px;
    font-weight: bold;
}

ion-card-subtitle {
    font-size: 21px;
}

