img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

p {
    color: hsl(0, 0%, 0%);
    font-weight: bold;
    font-size: 100%;
    text-align: center;

}

/* Estilo para o container */
.container {
    text-align: center;
    margin-top: 50px;
}

/* Título */
h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Estilo para o grupo de botões */
.tamanhos {
    display: flex;
    justify-content: center;
    gap: 5px;
}

/* Estilo para os botões de tamanho */
.tamanho-btn {
    padding: 10px 14px;
    font-size: 1.0 rem;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: rgb(107, 118, 245);
    cursor: pointer;
    transition: background-color 0.1s, color 0.1s;
}

/* Estilo para o botão selecionado */
.tamanho-btn.selecionado {
    background-color: #333;
    color: white;
}

/* Efeito de hover */
.tamanho-btn:hover {
    background-color: #f0f0f0;
}
.botaoComprar {
    font-weight: bold
}