<ion-header [translucent]="true"></ion-header>
<ion-toolbar class="corpadrao">
  <ion-menu-button slot="start"></ion-menu-button>
  <ion-title class="titulo">Minha Conta</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="voltar()">Voltar</ion-button>
  </ion-buttons>
</ion-toolbar>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Informações da Conta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>CPF: {{ infoUsuario.cpf }}</p>
      <p>Nome: {{ infoUsuario.name }}</p>
      <p>Email: {{ infoUsuario.email }}</p>
      <p>Telefone: {{ infoUsuario.telefone }}</p>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Cadastro de Endereço</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">

        <ion-input type="text" label="CEP" label-placement="floating" fill="outline" placeholder="Digite seu CEP"
          formControlName="CEP" (ionBlur)="buscarEnderecoPorCEP()" appCepMask aria-label="CEP" required>
        </ion-input>

        <ion-input type="text" label="Rua" label-placement="floating" fill="outline" placeholder="Rua nova"
          formControlName="Rua" required aria-label="Rua">
        </ion-input>

        <ion-input type="text" label="Bairro" label-placement="floating" fill="outline" placeholder="Seu bairro"
          formControlName="Bairro" required aria-label="Bairro">
        </ion-input>

        <ion-input type="text" label="Complemento" label-placement="floating" fill="outline" placeholder="Complemento"
          formControlName="Complemento" required aria-label="Complemento">
        </ion-input>

        <ion-input type="text" label="Cidade" label-placement="floating" fill="outline" placeholder="Sua Cidade"
          formControlName="Cidade" required aria-label="Cidade">
        </ion-input>

        <ion-input type="text" label="Estado" label-placement="floating" fill="outline" placeholder="Seu Estado"
          formControlName="Estado" required aria-label="Estado">
        </ion-input>

        <ion-button class="corpadrao" expand="full" type="submit" [disabled]="addressForm.invalid">Atualizar Endereço
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-footer>
    <ion-card>
      <ion-button expand="full" color="danger" (click)="sairConta()">Sair da conta</ion-button>
    </ion-card>
  </ion-footer>
</ion-content>