ion-list {
    margin-top: 10px;
  }
  
  ion-item {
    background-color: #f8f8f8;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  ion-label {
    padding: 10px;
  }
  
  h2 {
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  small {
    color: #888;
  }