<ion-header [translucent]="true"></ion-header>
<ion-toolbar class="corpadrao">
  <ion-menu-button slot="start"></ion-menu-button>
  <ion-title class="titulo">Meus Pedidos</ion-title>
</ion-toolbar>
<ion-content>

  <div class="no-pedidos" *ngIf="!pedidos || pedidos.length === 0">
    <ion-icon name="sad-outline" size="large"></ion-icon>
    <p>Você ainda não fez nenhum pedido.</p>
  </div>

  <ion-list>
    <ion-item *ngFor="let pedidos of pedidos">
      <ion-label>
        <h2>{{ pedidos.name }}</h2>
        <p>Valor: <strong class="corvalor">{{ pedidos.valor | currency: 'BRL' }}</strong> </p>
        <p>Data da Compra: {{ pedidos.dataPedido | date: 'dd/MM/yyyy' }}</p>
        <ion-button class="corpadrao" (click)="chamarModal(pedidos)">Ver Pedido</ion-button>
      </ion-label>
      <ion-thumbnail class="imgPedido" slot="end">
        <img [src]="pedidos.imageUrl" alt="Imagem do pedido" />
      </ion-thumbnail>
    </ion-item>
  </ion-list>

</ion-content>
