<ion-content class="ion-content">
  <ion-card class="register-container">

    <h2>Cadastro</h2>

    <form [formGroup]="cadastroForm" (ngSubmit)="cadastrar()">

      <ion-input label-placement="floating" fill="outline" label="Nome" type="text" formControlName="nome"></ion-input>

      <ion-input type="text" label-placement="floating" fill="outline" label="CPF" formControlName="cpf" (ionInput)="formatCPF($event)" maxlength="14"></ion-input>

      <ion-input type="tel" label-placement="floating" fill="outline" label="Telefone" formControlName="telefone" (ionInput)="formatTelefone($event)"></ion-input>

      <ion-input type="email" label-placement="floating" fill="outline" label="Email" formControlName="email"></ion-input>

      <ion-input type="password" label-placement="floating" fill="outline" label="Senha" formControlName="senha"></ion-input>

      <ion-input type="password" label-placement="floating" fill="outline" label="Confirmar Senha" formControlName="confirmarSenha"></ion-input>

      <div *ngIf="cadastroForm.hasError('mismatch') && cadastroForm.get('confirmarSenha')?.touched"> As senhas não coincidem!</div>

      <ion-button expand="block" type="submit">Cadastrar</ion-button>
    </form>

    <p>Já tem uma conta? <a (click)="navigateToNovaPagina()">Faça login aqui</a></p>

  </ion-card>
</ion-content>
