<ion-header [translucent]="true"></ion-header>
<ion-toolbar class="corpadrao">
  <ion-menu-button slot="start"></ion-menu-button>
  <ion-title class="titulo">Carrinho</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="voltar()">Voltar</ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="cart.length > 0; else emptyCart">
    <ng-container *ngFor="let item of cart">
      <ion-card>
        <ion-item>
          <ion-thumbnail slot="start" class="custom">
            <img [src]="item.imageUrl" />
          </ion-thumbnail>
          <ion-label>
            <h2 class="nome">{{ item.name }}</h2>
            <p>Tamanho: {{ item.tamanho }}</p>
            <p>Quantidade: {{ item.quantity }}</p>
            <p>Preço: {{ item.valor | currency: 'BRL' }}</p>
          </ion-label>
        </ion-item>

        <div class="quantidade-controls">
          <ion-button (click)="diminuirQuant(item)" [disabled]="item.quantity <= 1" class="botaoquant" fill="clear">
            <ion-icon name="remove-circle-outline"></ion-icon>
          </ion-button>
          <span class="quantidade">{{ item.quantity }}</span>
          <ion-button (click)="aumentarQuant(item)" class="botaoquant" fill="clear">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger" slot="end" (click)="removerCarrinho(item)"
            class="remover-botao">Remover</ion-button>
        </div>
      </ion-card>
    </ng-container>
  </ion-list>

  <ion-button expand="full" class="Botaolimp" (click)="clearCart()">Limpar Carrinho</ion-button>

  <ng-template #emptyCart>
    <ion-item>
      <ion-label>
        <h2>Seu carrinho está vazio!</h2>
      </ion-label>
    </ion-item>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <h2>  Total: {{ getTotal() | currency: 'BRL' }}</h2>
    <ion-button class="corpadrao" slot="end" (click)="finalizar()">Finalizar
      <ion-icon name="enter-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
