<ion-header [translucent]="true">
  <ion-toolbar class="corpadrao">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title class="titulo">Catálogo</ion-title>
    <ion-buttons slot="end" (click)="navegarPaginaCarrinho()">
      <ion-button>
        <ion-badge>{{ cartItemCount }}</ion-badge>
        <ion-icon size="large" name="cart" slot="end" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Barra de pesquisa -->
  <ion-searchbar
    show-clear-button="always"
    placeholder="O que você está procurando?"
    [(ngModel)]="searchTerm"
    class="search-bar"
  ></ion-searchbar>

  <!-- Lista de tênis -->
  <ion-list class="item-list">
    <ion-card *ngFor="let item of filteredTenis" class="tenis-card">
      <ion-item lines="none">
        <ion-thumbnail slot="start" class="custom">
          <img [src]="item.imageUrl" alt="{{ item.name }}" />
        </ion-thumbnail>
        <ion-label>
          <h2 class="item-name">{{ item.name }}</h2>
          <h5 class="item-brand">{{ item.marca }}</h5>
          <h2 class="item-price">{{ item.valor | currency: 'BRL' }}</h2>
        </ion-label>
        <ion-button fill="clear" class="botaoComprar" (click)="chamarModal(item)">Comprar</ion-button>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
